.alternate{
list-style: circle;
font-size: 50px;
}

.alternate li:nth-child(odd){
    background-color: aliceblue;
}

.alternate li:nth-child(even){
    background-color: khaki;
}

.alternate li:hover{
    color: blue;
}

.alternate li:active{
    color: red;
}